.xxl {
  font-size: 24px;
  line-height: 36px;
}

.xl {
  font-size: 20px;
  line-height: 30px;
}

.large {
  font-size: 18px;
  line-height: 27px;
}

.medium {
  font-size: 16px;
  line-height: 24px;
}

.small {
  font-size: 14px;
  line-height: 21px;
}

.tiny {
  font-size: 12px;
  line-height: 15.6px;
}

.weightNormal {
  font-weight: 400;
}

.weightMedium {
  font-weight: 500;
}

.weightSemiBold {
  font-weight: 600;
}
