.heading1 {
  font-size: 56px;
  line-height: 67.2px;
}

.heading2 {
  font-size: 48px;
  line-height: 57.6px;
}

.heading3 {
  font-size: 40px;
  line-height: 48px;
}

.heading4 {
  font-size: 36px;
  line-height: 43.2px;
}

.heading5 {
  font-size: 32px;
  line-height: 38.4px;
}

.weightNormal {
  font-weight: 400;
}

.weightSemiBold {
  font-weight: 600;
}

.textAlignLeft {
  text-align: left;
}

.textAlignCenter {
  text-align: center;
}

.textAlignRight {
  text-align: right;
}
