.quantityInput {
  display: inline-flex;
  align-items: center;
  border-radius: 170px;
  border: 1px solid var(--gray-100);
  padding: 8px;

  @media (max-width: 600px) {
    flex-direction: column-reverse;
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  background-color: var(--gray-50);
  border-radius: 50%;
  border: none;
  transition: 0.2s ease-in-out opacity;
  cursor: pointer;

  &[disabled] {
    opacity: 0.3;
  }

  &:hover {
    opacity: 0.5;
  }
}

.value {
  width: 40px;
  text-align: center;
}
