.grid {
  display: grid;
  grid-template-columns: repeat(5, minmax(150px, 1fr));
  border: 1px solid var(--gray-100);
}

@media (max-width: 1060px) {
  .grid {
    grid-template-columns: repeat(4, minmax(200px, 1fr));
  }
}

@media (max-width: 860px) {
  .grid {
    grid-template-columns: repeat(3, minmax(200px, 1fr));
  }
}

@media (max-width: 680px) {
  .grid {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }
}
